// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
// @import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// global
div[role="main"] {
  text-align: justify;
  line-height: 1.75;
  font-family: 'Merriweather', serif;
}

// main
#book-title {
  margin-bottom: 1em;
  line-height: 40px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

#issuu-embed iframe {
  width: 100%;
  height: 70vw;
}

// gallery images
.field--name-field-image .field--item {
  display: inline-block;
  padding: 5px;
}
