// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
// @import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// colors
$sand: #caca9e;

// global
body {
  background-color: $sand;
}

header.navbar.navbar-default.container {
  max-width: 1170px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: 'Merriweather', serif;
}

div[role="main"] {
  padding: 2em;
  background: white;
  line-height: 1.75;
  font-family: 'Merriweather', serif;

  p {
    text-align: justify;
  }
}

// banner
#banner {
  background:
    #E5E5CA url(/themes/custom/naturesbounty_lib_unb_ca/images/logo.png)
    no-repeat center center;
  height: 158px;
}

.dialog-off-canvas-main-canvas .container:first-of-type .row .col-sm-12 {
  padding: 0;
}

// nav
a.is-active {
  color: black !important;
  border-bottom: 1px solid black;
}

// main
#book-title {
  margin-bottom: 1.5em;
  line-height: 40px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

#issuu-embed iframe {
  width: 100%;
  height: 70vw;
}

ul.tabs--primary.nav.nav-tabs {
  margin-bottom: 1em;
}

// gallery images
.field--name-field-image .field--item {
  display: inline-block;
  padding: 5px;
}

// biography
#bio-pic {
  margin: 0em 1.5em;
  float: right;
  max-width: 512px;
}

// footer
footer.footer.container {
  margin-top: 1em;
}
