// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
// @import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// colors
$sand: #caca9e;

// global
body {
  background-color: $sand;
}

#navbar {
  max-width: 1170px;
  margin-bottom: 0;
  padding: 0 1em;
  border: none;
  border-radius: 0;
  font-family: 'Merriweather', serif;

  a:not(:hover) {
    color: #666;
  }

  a:hover {
    color: black;
  }
}

div[role="main"] {
  padding: 2em;
  background: white;
  line-height: 1.75;
  font-family: 'Merriweather', serif;

  p {
    text-align: justify;
  }
}

h1.page-header {
  border: none;
  font-size: 20px;
}

// banner
#banner {
  background:
    #E5E5CA url(/themes/custom/naturesbounty_lib_unb_ca/images/logo.png)
    no-repeat center center;
  height: 158px;
}

.dialog-off-canvas-main-canvas .container:first-of-type .row .col-sm-12 {
  padding: 0;
}

@media (max-width: 530px) {

  #banner {
    background:
      #E5E5CA url(/themes/custom/naturesbounty_lib_unb_ca/images/logo-small.png)
      no-repeat center center;
    }
}

// nav
@media (min-width: 768px) {

  a.is-active {
    color: black !important;
    border-bottom: 1px solid black;
  }
}

// main
#book-title {
  margin-bottom: 1.5em;
  margin-top: 0;
  line-height: 40px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

#issuu-embed iframe {
  width: 100%;
  height: 70vw;
}

ul.tabs--primary.nav.nav-tabs {
  margin-bottom: 1em;
}

@media (min-width: 1200px)
.container {
    width: 1175px;
}

// gallery images
.field--name-field-image .field--item {
  display: inline-block;
  padding: 5px;
}

// biography
#bio-pic {
  margin: 0em 1.5em;
  float: right;
  max-width: 512px;
}

@media (max-width: 680px) {

  #bio-pic {
    margin-bottom: 1em;
  }
}

@media (max-width: 620px) {
  #bio-pic {
    margin-bottom: 1em;
    margin-left: 0;
    max-width: 320px;
    float: left;
  }
}

// footer
footer.footer.container {
  margin-top: 1em;
  padding-top: 1em;

  div {
    padding-left: 0;
    padding-right: 0;
  }
}

#footer {
  width: 100%;
}

#liblogo img {
  max-width: 256px;
}

@media (min-width: 768px) {

  #liblogo img {
    float: right;
  }
}

@media (max-width: 768px) {

  #footer .row {
    padding-left: 1em;
  }
}
